@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

html {
  background-color: rgb(41, 41, 41);
}

@theme {
  --spacing-header: 2.5rem;

  --color-primary-50: #ebefff;
  --color-primary-100: #d7e0ff;
  --color-primary-150: #c3d0ff;
  --color-primary-200: #afc0ff;
  --color-primary-300: #86a1ff;
  --color-primary-400: #5e81ff;
  --color-primary-500: #3662ff;
  --color-primary-600: #2b4fcf;
  --color-primary-700: #203c9e;
  --color-primary-800: #16296e;
  --color-primary-850: #102056;
  --color-primary-900: #0b163d;
  --color-primary-950: #00030d;

  --color-danger-50: #fcedee;
  --color-danger-100: #fadadc;
  --color-danger-150: #f7c8cb;
  --color-danger-200: #f5b5b9;
  --color-danger-300: #ef9196;
  --color-danger-400: #ea6c73;
  --color-danger-500: #e54750;
  --color-danger-600: #b83940;
  --color-danger-700: #8b2b30;
  --color-danger-800: #5e1d21;
  --color-danger-850: #481619;
  --color-danger-900: #310f11;
  --color-danger-950: #1b0809;

  --color-gray-50: #fcfcfc;
  --color-gray-100: #f5f5f5;
  --color-gray-150: #efefef;
  --color-gray-200: #e8e8e8;
  --color-gray-300: #dfdfdf;
  --color-gray-400: #b7b7b7;
  --color-gray-500: #949494;
  --color-gray-600: #777777;
  --color-gray-700: #555555;
  --color-gray-800: #2a2a2a;
  --color-gray-850: #1f1f1f;
  --color-gray-900: #1a1a1a;
  --color-gray-950: #111111;

  --color-state-white: #ffffff;
  --color-state-yellow: #ffdb20;
  --color-state-green: #1dd200;
  --color-state-orange: #ff8c00;
  --color-state-pink: #ff4f81;
  --color-state-aqua: #33d9ff;
  --color-state-blue: #007bff;
  --color-state-gray: #a6a6a6;
  --color-state-red: #ff3333;
}
